/* universal style */
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #FFFFFF;

}


/* universal style ends */

/* ...............
.header-section styles starts.
............ */

.header-section {

    background-color: rgb(59, 51, 59);
    border-radius: 30px;
    width: 1321px;
    height: 646px;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header-txt,
.header-img {
    width: 50%;
}

.header-txt {
    padding-left: 10%;


}

.header-img {
    padding-right: 10%;

}

.header-txt h1 {
    font-weight: 700;
    font-size: 3em;
    color: #FFFFFF;
}

.header-txt p {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1em;
}

.header-txt button {
    background-color: #de1777;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1em;
    text-align: center;
    padding: 16px 10px;
    border-radius: 5px;
}



.header-img img {
    width: 50%;
    height: 80%;
}

/* animation style starts*/


.marcelo {
    transition: transform .5s;
}

.header-section:hover .marcelo {
    transform: rotate(-10deg);
    width: 80%;
}

/* animation-style ends */

/* ......
header-section style ends
............... */


/* main section styles starts */
.main-section {
    margin-top: 100px;
    margin-left: 140px;
    margin-right: 140px;
    flex-direction: column;
    border-radius: 15px;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 15px;
}

.blog {
    display: flex;
    flex-direction: column;
    border: 3px solid whitesmoke;
    border-radius: 15px;


}

.blog-img,
.blog-txt {
    width: 50%;
    padding: 2%;
}

.blog-img img {
    size: 100%;
}

.transfer-button {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 3px;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.blog-txt p {
    font-weight: 600;
    font-size: 1em;
}

.sidebar-main-content {
    display: flex;
}

.sidebar {
    width: 312px;
    height: 312px;
    background-color: rgb(220, 178, 237);
    border-radius: 15px;
    padding: 10px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
}

.side-button {
    width: 252px;
    height: 64px;
    color: black;
    font-weight: 700;
    font-size: 1em;
    font-size: 20px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
}

:hover .side-button {
    background-color: #f30ceb;

}

/********* blog button class  was applied to other highlighted button as well *******/
.blog-button {
    background-color: #de1777;
}

.blog-icon {
    display: flex;
    justify-content: space-between;
}

.view-all {
    visibility: hidden;
}

/* main section style ends */

/* fotter styles starts */
footer {
    height: 25em;
    background-color: black;
    text-align: center;
    color: #FFFFFF;
    padding-top: 3vh;
    padding-bottom: 3vh;
    margin: 0;
}

footer h2 {
    margin-top: 5vh;
    font-size: 3em;
}

footer hr {
    border: 1px solid #494747;
}


footer div {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer div h4 {
    padding-right: 15px;
    font-weight: 3em;
}

.social-handle {
    display: flex;
    align-items: space-around;
}

.social-handle p {
    margin-right: 10px;
}

/* ....footer style ends...... */

/*..............
 responsive mobile starts 
 ................*/

@media screen and (max-width: 600px) {

    /* mobile header sections  */
    .header-section {
        width: 334px;
        height: 472px;
        margin-left: 16px;
        margin-top: 44px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .header-txt h1 {
        font-weight: 700;
        font-size: 2em;
        color: #FFFFFF;
    }

    .header-txt,
    .header-img {
        width: 100%;
        text-align: center;
        padding-right: 2px;
    }

    /* mobile header style ends */

    /* mobile main section style starts  */

    .main-section {
        width: 334px;
        margin-left: 16px;
    }

    .sidebar-main-content {
        flex-direction: column;
    }

    .sidebar {
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 6px;
        background-color: #FFFFFF;
    }

    .main-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 2px;
        column-gap: 2px;
    }

    footer {
        height: 412px;
        padding-bottom: 50px;
        padding-top: 0;
    }

    footer h2 {
        height: 10%;
    }

    footer hr {
        margin-bottom: 0;
    }

    .footer-end-txt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

    }

    .footer-end-txt h4 {
        height: 10px;
        margin-top: 0;
    }

    .social-handle {
        display: flex;

    }

    social-handle p {
        margin-right: 5px;

    }
}

/* .............
responsive mobile ends
.............. */

/* ..............
responsive tab starts
.................. */

@media screen and (min-width: 601px) and (max-width: 992px) {

    .header-section {
        width: 700px;
        height: 398px;
        margin-left: 16px;
        margin-top: 44px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .header-txt h1 {
        font-weight: 700;
        font-size: 2em;
        color: #FFFFFF;
    }

    .header-txt,
    .header-img {
        width: 100%;
        text-align: center;
        padding-right: 2px;
    }

    /* tab header style ends */

    /* tab main starts */
    .main-section {
        width: 734px;
        margin-left: 16px;
    }

    .sidebar-main-content {
        flex-direction: column;

    }

    .sidebar {
        flex-direction: row;
        width: 734px;
        height: 64px;
        padding-left: 15px;
        padding-right: 33px;
        margin-left: 0;
        background-color: #FFFFFF;
        margin-bottom: 40px;
    }

    .side-button {
        margin-right: 5px;
        margin-left: 0;
    }

    .main-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2px;
        column-gap: 2px;

    }

    .view-all {
        text-align: center;
    }

    .view-all button {
        visibility: visible;
        background-color: #DD0000;
        text-decoration: none;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 1em;
        text-align: center;
        padding: 16px 10px;
        border-radius: 7px;
        width: 100px;
        height: 60px;
        margin-top: 10px;
        margin-bottom: 20px;
        align-items: center;

    }

}