/* universal style */
* {
    box-sizing: border-box;
}

body {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.header-section {

    background-color: black;
    border-radius: 8px;
    color: aliceblue;
    position: absolute;
    width: 1321px;
    height: 646px;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 50px;

}